.suggestion-feedback-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.suggestion-feedback-container > * {
    margin: .5em .5em 0 0;
}

::ng-deep app-ticket-detail div.card-header-container {
    padding: 1.25rem 1.25rem 0 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

::ng-deep app-ticket-detail div.card-header-container span {
    font-weight: bold;
    font-size: 1.25rem;
}

::ng-deep app-ticket-detail .p-card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

::ng-deep app-ticket-detail p-panel.details {
    display: flex;
    flex-direction: column;
}

::ng-deep app-ticket-detail p-panel.details div.details-row {
    display: flex;
    flex-direction: row;
    min-height: 1.5em;
}

::ng-deep app-ticket-detail p-panel.details div.details-row > *:nth-child(1) {
    min-width: 10em;
}

::ng-deep app-ticket-detail p-panel.details div.details-row > span {
    display: inline-flex;
    align-items: center;
}

::ng-deep app-ticket-detail p-panel div.p-panel-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

::ng-deep app-ticket-detail p-selectbutton > *:nth-child(1).p-togglebutton-checked span {
    background-color: #22c55e;
}

::ng-deep app-ticket-detail p-selectbutton > *:nth-child(2).p-togglebutton-checked span {
    background-color: #ef4444;
}

