a.send-reply {
    text-decoration: none;
    margin-top: 10px;
}

::ng-deep .p-card-title {
    font-weight: bold;
}

::ng-deep .p-card-content {
    display: flex;
    flex-direction: column;
}

::ng-deep .p-card-content > * {
    margin-top: 10px;
}

::ng-deep p-panel.details {
    display: flex;
    flex-direction: column;
}

::ng-deep p-panel.details div.details-row {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    min-height: 1.5em;
}

::ng-deep p-panel.details div.details-row > *:nth-child(1) {
    min-width: 10em;
}

::ng-deep p-panel.details div.details-row > span {
    display: inline-flex;
    align-items: center;
}

::ng-deep p-panel div.p-panel-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
