<p-toast position="bottom-center" />
<div>
    <p-card>
        <ng-template #header>
            <div class="card-header-container">
                <div>
                    @if (loading) {
                        <p-skeleton width="20em" height="1.5em"></p-skeleton>
                    } @else {
                        <span>{{ ticket()?.subject }}</span>
                    }
                </div>

                <p-button
                    icon="pi pi-arrow-left"
                    severity="info"
                    (onClick)="onNavigateBack()"
                    [rounded]="true"
                >
                </p-button>
            </div>
        </ng-template>
        <p-panel class="details" header="Details">
            <div class="details-row">
                <span>Priority:</span>
                @if (loading) {
                    <p-skeleton width="3em" height="1.5em"></p-skeleton>
                } @else {
                    <p-tag
                        [value]="ticket() ? ticket()?.priority : ''"
                        [severity]="getPrioritySeverity(ticket()?.priority)"
                    />
                }
            </div>
            <div class="details-row">
                <span>Category:</span>
                @if (loading) {
                    <p-skeleton width="5em" height="1.5em"></p-skeleton>
                } @else {
                    <span>{{ ticket()?.category }}</span>
                }
            </div>
            <div class="details-row">
                <span>Author:</span>
                @if (loading) {
                    <p-skeleton width="10em" height="1.5em"></p-skeleton>
                } @else {
                    <a href="{{ `mailto:${ticket()?.from_email}` }}" target="_blank">{{
                        ticket()?.from_email
                    }}</a>
                }
            </div>
            <div class="details-row">
                <span>Created:</span>
                @if (loading) {
                    <p-skeleton width="10em" height="1.5em"></p-skeleton>
                } @else {
                    <span>{{ ticket()?.created_at | date: 'medium' }}</span>
                }
            </div>
        </p-panel>

        <p-panel class="message" header="Message">
            @if (loading) {
                <p-skeleton width="20em" height="1.6em"></p-skeleton>
                <p-skeleton width="30em" height="1.6em"></p-skeleton>
            } @else {
                <p-message severity="secondary" icon="pi pi-info-circle" styleClass="h-full">{{
                    'Summary: ' + ticket()?.summary
                }}</p-message>
                <p>{{ ticket()?.message }}</p>
            }
        </p-panel>

        <p-panel class="reply" header="Reply">
            <textarea
                id="reply-textarea"
                rows="10"
                pTextarea
                fluid
                style="resize: none"
                [(ngModel)]="reply"
            ></textarea>

            <div>
                <span>Is this reply suggestion helpful?</span>
                <div class="suggestion-feedback-container">
                    <p-selectbutton
                        [(ngModel)]="suggestion_feedback"
                        [options]="suggestion_feedback_options"
                        size="small"
                        (onChange)="onFeedbackClick($event)"
                    />
                </div>
            </div>

            <p-button class="send-reply" severity="info" (onClick)="onSend()">
                <i class="pi pi-send" pButtonIcon></i>
                <span pButtonLabel>Send E-Mail</span>
            </p-button>
        </p-panel>
    </p-card>
</div>
