<div class="navbar">
    <div class="container">
        <div class="item">
            <a class="create-ticket" href="/tickets" pButton target="_self">
                <i class="pi pi-list" pButtonIcon></i>
                <span pButtonLabel>List Tickets</span>
            </a>
        </div>

        <div class="item">
            <a class="create-ticket" href="/tickets/create" pButton target="_self" severity="info">
                <i class="pi pi-sparkles" pButtonIcon></i>
                <span pButtonLabel>Create</span>
            </a>
        </div>
    </div>
</div>
