div.navbar {
    height: 5em;
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

div.navbar > .container {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-left: 1em;
}

div.navbar > .container > .item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.25em;
    min-height: 3em;
}

div.navbar a {
    text-decoration: none;
}
