<p-toast position="bottom-center" />

<p-dialog
    #createdialog
    [(visible)]="create_dialog_visible"
    [modal]="true"
    style="width: 50em"
    position="top"
    [draggable]="false"
>
    <ng-template #header>
        <h2>Create ticket</h2>
    </ng-template>
    @if (create_dialog_visible) {
        <app-ticket-create (created)="updateData()" />
    }
</p-dialog>

<div class="topbar">
    <div class="container">
        <div class="item">
            <p-button class="create-ticket" severity="info" (onClick)="onCreateClick()">
                <i class="pi pi-sparkles" pButtonIcon></i>
                <span pButtonLabel>Create</span>
            </p-button>
        </div>

    </div>
</div>

<div class="card">
    <p-table
        #dt
        [value]="tickets()"
        [tableStyle]="{ 'min-width': '60rem' }"
        [paginator]="true"
        [rows]="rows"
        [showCurrentPageReport]="true"
        [first]="first"
        [resizableColumns]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [globalFilterFields]="['priority', 'category']"
        sortField="created_at"
        [sortOrder]="-1"
    >
        <ng-template #header>
            <tr>
                <th style="width: 2%" pSortableColumn="id">
                    #
                    <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="subject">
                    Subject
                    <p-sortIcon field="subject"></p-sortIcon>
                </th>
                <th style="width: 20%" pSortableColumn="priority">
                    Priority
                    <p-sortIcon field="priority"></p-sortIcon>
                    <p-multiselect
                        style="margin-left: 1em"
                        [options]="priorityOptions"
                        display="chip"
                        placeholder="All"
                        (onChange)="dt.filter($event.value, 'priority', 'in')"
                        appendTo="body"
                        (click)="$event.stopPropagation()"
                    ></p-multiselect>
                </th>
                <th style="width: 25%" pSortableColumn="category">
                    Category
                    <p-sortIcon field="category"></p-sortIcon>
                    <p-multiselect
                        style="margin-left: 1em"
                        [options]="categoryOptions"
                        display="chip"
                        placeholder="All"
                        (onChange)="dt.filter($event.value, 'category', 'in')"
                        appendTo="body"
                        (click)="$event.stopPropagation()"
                    ></p-multiselect>
                </th>
                <th style="width: 15%" pSortableColumn="created_at">
                    Created
                    <p-sortIcon field="created_at"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-ticket>
            <tr class="row-ticket" (click)="onTicketClick(ticket.id)">
                <td>
                    @if (loading) {
                        <p-skeleton />
                    } @else {
                        {{ ticket.id }}
                    }
                </td>
                <td>
                    @if (loading) {
                        <p-skeleton />
                    } @else {
                        {{ ticket.subject }}
                    }
                </td>
                <td>
                    @if (loading) {
                        <p-skeleton />
                    } @else {
                        <p-tag
                            [value]="ticket.priority"
                            [severity]="getPrioritySeverity(ticket.priority)"
                        />
                    }
                </td>
                <td>
                    @if (loading) {
                        <p-skeleton />
                    } @else {
                        {{ ticket.category }}
                    }
                </td>
                <td>
                    @if (loading) {
                        <p-skeleton />
                    } @else {
                        {{ ticket.created_at | date: 'medium' }}
                    }
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
