@import 'primeicons/primeicons.css';

body {
    margin: 0;
    background-color: rgba(230, 230, 230, 255);
}

body,
body .p-component {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #0284c7;
}
